@use 'typography' as *;
@use 'themes' as *;

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

main{
    min-height: 100vh;
    min-width: 100vw;

    @include themed(){
        background-color: t("bg");
    }
}

.flex{
    display: flex;

    &-justcont-c{
        justify-content: center;
    }

    &-justcont-sb{
        justify-content: space-between;
    }

    &-alignit-c{
        align-items: center;
    }

    &-dir-col{
        flex-direction: column;
    }

    &-dir-col-rev{
        flex-direction: column-reverse;
    }
}

header{
    height: 80px;
    width: 540px;

    p{
        @include themed(){
            color: t("text-upper");
        }
    }

    .logo{
        padding-top: 16px;
    }

    .toggle{
        height: fit-content;

        &-text{
            padding-right: 25px;
            font-size: 0.4em;
        }

        &-numbers{
            display: flex;
            justify-content: space-between;
            width: 70px;
            padding-bottom: 5px;
            align-self: end;
            
            button{
                border: none;
                background: transparent;
                font-size: 0.45em;
                font-weight: 700;
                cursor: pointer;
                
                @include themed(){
                    color: t("text-upper");
                }

                &:first-child{
                    margin-left: 5px;
                }
                &:last-child{
                    margin-right: 5px;
                }
            }
        }

        &-text-bar{
            display: flex;
            align-items: center;
        }

        &-bar{
            height: 25px;
            width: 70px;
            border-radius: 15px;
            padding: 4px;

            @include themed(){
                background-color: t("bg-keypad");
            }

            button{
                height: 18px;
                width: 18px;
                border: none;
                border-radius: 50%;
                cursor: pointer;
    
                @include themed(){
                    background-color: t("toggle-bg");
                }
            }

            &-hidden{
                background-color: transparent !important;
            }
        }
    }
}

.screen{
    height: 130px;
    width: 540px;
    border-radius: 10px;
    padding: 40px;

    flex-direction: row-reverse;

    overflow-x: scroll;
    overflow-y: hidden;

    @include themed(){
        background-color: t("bg-screen");
    }

    margin-bottom: 25px;

    p{
        font-size: 2em;

        @include themed(){
            color: t("text-upper");
        }   
    }
}

.keypad{
    height: 500px;
    width: 540px;
    border-radius: 10px;
    padding: 30px;

    @include themed(){
        background-color: t("bg-keypad");
    }

    &-row{
        padding: 30px 0 30px 0;
    }
}

.keys{
    height: 65px;
    width: 100px;
    border: none;
    border-radius: 10px;
    font-family: $font;
    font-size: 1.2em;
    font-weight: 700;

    &-numbers{
        @include themed(){
            background-color: t("numberkeys-bg");
            color: t("text-first");
            box-shadow: inset 0 -4px t("numberkeys-shadow");
        }

        &:active{
            @include themed(){
                background-color: color-mix(in hsl, t("numberkeys-bg") 85%, lightgreen);
                box-shadow: inset 0 -2px t("numberkeys-shadow");
            }   
        }
    }

    &-delete{
        font-size: 0.9em;
        @include themed(){
            background-color: t("keys-bg");
            color: t("text-white");
            box-shadow: inset 0 -4px t("keys-shadow");
        }

        &:active{
            @include themed(){
                background-color: color-mix(in hsl, t("keys-bg") 85%, white);
                box-shadow: inset 0 -2px t("keys-shadow");
            }   
        }
    }

    &-last{
        font-size: 0.9em;
        width: 225px;

        &-reset{
            @include themed(){
                background-color: t("keys-bg");
                color: t("text-white");
                box-shadow: inset 0 -4px t("keys-shadow");
            }
    
            &:active{
                @include themed(){
                    background-color: color-mix(in hsl, t("keys-bg") 85%, white);
                    box-shadow: inset 0 -2px t("keys-shadow");
                }   
            }
        }

        &-equals{
            @include themed(){
                background-color: t("toggle-bg");
                color: t("text-white");
                box-shadow: inset 0 -4px t("toggle-shadow");
            }
    
            &:active{
                @include themed(){
                    background-color: color-mix(in hsl, t("toggle-bg") 85%, white);
                    box-shadow: inset 0 -2px t("toggle-shadow");
                }   
            }
        }

    }
}

@media screen and (max-width: 609px){
    header{
        height: 75px;
        width: 325px;
    }

    .screen{
        height: 90px;
        width: 325px;
        padding: 30px;
        
        p{
            font-size: 1em;
        }
    }

    .keypad{
        height: 430px;
        width: 325px;
        padding: 20px;

        &-row{
            padding: 15px 0 15px 0;
        }
    }

    .keys{
        width: 60px;
        font-size: 1em;

        &-delete{
            font-size: 0.6em;
        }

        &-last{
            font-size: 0.6em;
            width: 128px;
        }
    }

}

@media screen and (min-width: 610px){
    
}
