@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
main {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

main {
  min-height: 100vh;
  min-width: 100vw;
}
.theme--dark main {
  background-color: hsl(222, 26%, 31%);
}
.theme--light main {
  background-color: hsl(0, 0%, 90%);
}
.theme--other main {
  background-color: hsl(268, 75%, 9%);
}

.flex {
  display: flex;
}
.flex-justcont-c {
  justify-content: center;
}
.flex-justcont-sb {
  justify-content: space-between;
}
.flex-alignit-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-dir-col-rev {
  flex-direction: column-reverse;
}

header {
  height: 80px;
  width: 540px;
}
.theme--dark header p {
  color: hsl(0, 0%, 100%);
}
.theme--light header p {
  color: hsl(60, 10%, 19%);
}
.theme--other header p {
  color: hsl(52, 100%, 62%);
}
header .logo {
  padding-top: 16px;
}
header .toggle {
  height: -moz-fit-content;
  height: fit-content;
}
header .toggle-text {
  padding-right: 25px;
  font-size: 0.4em;
}
header .toggle-numbers {
  display: flex;
  justify-content: space-between;
  width: 70px;
  padding-bottom: 5px;
  align-self: end;
}
header .toggle-numbers button {
  border: none;
  background: transparent;
  font-size: 0.45em;
  font-weight: 700;
  cursor: pointer;
}
.theme--dark header .toggle-numbers button {
  color: hsl(0, 0%, 100%);
}
.theme--light header .toggle-numbers button {
  color: hsl(60, 10%, 19%);
}
.theme--other header .toggle-numbers button {
  color: hsl(52, 100%, 62%);
}
header .toggle-numbers button:first-child {
  margin-left: 5px;
}
header .toggle-numbers button:last-child {
  margin-right: 5px;
}
header .toggle-text-bar {
  display: flex;
  align-items: center;
}
header .toggle-bar {
  height: 25px;
  width: 70px;
  border-radius: 15px;
  padding: 4px;
}
.theme--dark header .toggle-bar {
  background-color: hsl(223, 31%, 20%);
}
.theme--light header .toggle-bar {
  background-color: hsl(0, 0%, 93%);
}
.theme--other header .toggle-bar {
  background-color: hsl(268, 71%, 12%);
}
header .toggle-bar button {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.theme--dark header .toggle-bar button {
  background-color: hsl(6, 63%, 50%);
}
.theme--light header .toggle-bar button {
  background-color: hsl(25, 98%, 40%);
}
.theme--other header .toggle-bar button {
  background-color: hsl(176, 100%, 44%);
}
header .toggle-bar-hidden {
  background-color: transparent !important;
}

.screen {
  height: 130px;
  width: 540px;
  border-radius: 10px;
  padding: 40px;
  flex-direction: row-reverse;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 25px;
}
.theme--dark .screen {
  background-color: hsl(224, 36%, 15%);
}
.theme--light .screen {
  background-color: hsl(0, 5%, 81%);
}
.theme--other .screen {
  background-color: hsl(268, 71%, 12%);
}
.screen p {
  font-size: 2em;
}
.theme--dark .screen p {
  color: hsl(0, 0%, 100%);
}
.theme--light .screen p {
  color: hsl(60, 10%, 19%);
}
.theme--other .screen p {
  color: hsl(52, 100%, 62%);
}

.keypad {
  height: 500px;
  width: 540px;
  border-radius: 10px;
  padding: 30px;
}
.theme--dark .keypad {
  background-color: hsl(223, 31%, 20%);
}
.theme--light .keypad {
  background-color: hsl(0, 0%, 93%);
}
.theme--other .keypad {
  background-color: hsl(268, 71%, 12%);
}
.keypad-row {
  padding: 30px 0 30px 0;
}

.keys {
  height: 65px;
  width: 100px;
  border: none;
  border-radius: 10px;
  font-family: "League Spartan", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}
.theme--dark .keys-numbers {
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
  box-shadow: inset 0 -4px hsl(28, 16%, 65%);
}
.theme--light .keys-numbers {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  box-shadow: inset 0 -4px hsl(35, 11%, 61%);
}
.theme--other .keys-numbers {
  background-color: hsl(268, 47%, 21%);
  color: hsl(52, 100%, 62%);
  box-shadow: inset 0 -4px hsl(290, 70%, 36%);
}
.theme--dark .keys-numbers:active {
  background-color: color-mix(in hsl, hsl(30, 25%, 89%) 85%, lightgreen);
  box-shadow: inset 0 -2px hsl(28, 16%, 65%);
}
.theme--light .keys-numbers:active {
  background-color: color-mix(in hsl, hsl(45, 7%, 89%) 85%, lightgreen);
  box-shadow: inset 0 -2px hsl(35, 11%, 61%);
}
.theme--other .keys-numbers:active {
  background-color: color-mix(in hsl, hsl(268, 47%, 21%) 85%, lightgreen);
  box-shadow: inset 0 -2px hsl(290, 70%, 36%);
}
.keys-delete {
  font-size: 0.9em;
}
.theme--dark .keys-delete {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(224, 28%, 35%);
}
.theme--light .keys-delete {
  background-color: hsl(185, 42%, 37%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(185, 58%, 25%);
}
.theme--other .keys-delete {
  background-color: hsl(281, 89%, 26%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(285, 91%, 52%);
}
.theme--dark .keys-delete:active {
  background-color: color-mix(in hsl, hsl(225, 21%, 49%) 85%, white);
  box-shadow: inset 0 -2px hsl(224, 28%, 35%);
}
.theme--light .keys-delete:active {
  background-color: color-mix(in hsl, hsl(185, 42%, 37%) 85%, white);
  box-shadow: inset 0 -2px hsl(185, 58%, 25%);
}
.theme--other .keys-delete:active {
  background-color: color-mix(in hsl, hsl(281, 89%, 26%) 85%, white);
  box-shadow: inset 0 -2px hsl(285, 91%, 52%);
}
.keys-last {
  font-size: 0.9em;
  width: 225px;
}
.theme--dark .keys-last-reset {
  background-color: hsl(225, 21%, 49%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(224, 28%, 35%);
}
.theme--light .keys-last-reset {
  background-color: hsl(185, 42%, 37%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(185, 58%, 25%);
}
.theme--other .keys-last-reset {
  background-color: hsl(281, 89%, 26%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(285, 91%, 52%);
}
.theme--dark .keys-last-reset:active {
  background-color: color-mix(in hsl, hsl(225, 21%, 49%) 85%, white);
  box-shadow: inset 0 -2px hsl(224, 28%, 35%);
}
.theme--light .keys-last-reset:active {
  background-color: color-mix(in hsl, hsl(185, 42%, 37%) 85%, white);
  box-shadow: inset 0 -2px hsl(185, 58%, 25%);
}
.theme--other .keys-last-reset:active {
  background-color: color-mix(in hsl, hsl(281, 89%, 26%) 85%, white);
  box-shadow: inset 0 -2px hsl(285, 91%, 52%);
}
.theme--dark .keys-last-equals {
  background-color: hsl(6, 63%, 50%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(6, 70%, 34%);
}
.theme--light .keys-last-equals {
  background-color: hsl(25, 98%, 40%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(25, 99%, 27%);
}
.theme--other .keys-last-equals {
  background-color: hsl(176, 100%, 44%);
  color: hsl(0, 0%, 100%);
  box-shadow: inset 0 -4px hsl(177, 92%, 70%);
}
.theme--dark .keys-last-equals:active {
  background-color: color-mix(in hsl, hsl(6, 63%, 50%) 85%, white);
  box-shadow: inset 0 -2px hsl(6, 70%, 34%);
}
.theme--light .keys-last-equals:active {
  background-color: color-mix(in hsl, hsl(25, 98%, 40%) 85%, white);
  box-shadow: inset 0 -2px hsl(25, 99%, 27%);
}
.theme--other .keys-last-equals:active {
  background-color: color-mix(in hsl, hsl(176, 100%, 44%) 85%, white);
  box-shadow: inset 0 -2px hsl(177, 92%, 70%);
}

@media screen and (max-width: 609px) {
  header {
    height: 75px;
    width: 325px;
  }
  .screen {
    height: 90px;
    width: 325px;
    padding: 30px;
  }
  .screen p {
    font-size: 1em;
  }
  .keypad {
    height: 430px;
    width: 325px;
    padding: 20px;
  }
  .keypad-row {
    padding: 15px 0 15px 0;
  }
  .keys {
    width: 60px;
    font-size: 1em;
  }
  .keys-delete {
    font-size: 0.6em;
  }
  .keys-last {
    font-size: 0.6em;
    width: 128px;
  }
}/*# sourceMappingURL=style.css.map */